@media(max-width:720px){
        .parent{
            display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        } 

                    
    }

@media(max-width:576px){
    .parent{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
}
@media(max-width:480px){
    .parent{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
}