*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}
header {
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-between;
}

nav {
    height: 100px;
    width: 70%;
    /* border: 5px solid yellow; */
    display: flex;
    justify-content:space-between;
    align-items: center;

}

nav ul {
    height: 100px;
    width: 700px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 30%; */
   

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.logo {
    color: green;
    padding: auto;
    padding-left: 20px;
    padding-top: 20px;
    /* margin: auto;
    margin-left: 20px; */

    
}

.main {
    height: 900px;
    width: 90%;
    margin: auto;
    border: 2px solid white;
    background-image: url("image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-size: 50px;
    background-attachment: fixed;
}

h1 {
    width: 60%;
    margin: auto;
    margin-top: 30vh;
    color: white;
}

.box {
    height: 50px;
    width: 60%;
   
    background-color: rgb(3, 130, 17);
    margin: auto;
  
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    position: absolute;
    top: 102%;
    right: 20%;
    font-size: 20px;
}

.box a {
    display: flex;
    color: azure;
    text-decoration: none;
    font-size:30px;
    

}

.cn {
    height: 800px;
    width: 1600px;
    /* border: 2px solid red; */
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    margin: auto;
    /*  */
    margin-top: 50px;

}

.chil1 {
    height: 800px;
    width: 800px;
    border: 2px solid darkgreen;
}

.chil2 {
    height: 800px;
    width: 800px;
    border: 2px solid green;
}
.btn{
    height: 50px;
    width: 100px;
    margin-left: 300px;
    margin-top: 30px;
    background-color:green;
    color: white;
    border: none;
}
.btn:hover{
        transform: 2s;
        background-color:white;
        cursor: pointer;
        border: 1px solid green;
        color: green;
          
}
img {
    height: 800px;
    width: 800px;
    /* display: flex; */
}
#nn {
    
    font-size: 30px;
    color:darkgreen;
    text-align: center;
    font-weight: 200px;
}
#n{
    width:500px;
    text-align: center;
    margin: auto;
}
.qq{
    height: 100px;
    width: 300px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
}
.qq li{
    list-style: none;
}
.qq li a{
    text-decoration: none;
}
.a{
    height: 300px;
    width: 100%;
    /* border: 2px solid black; */
    
    
}
#r{
    color: green;
    font-size: 70px;
    text-align: center;
}
.rr{
    text-align: center;
    font-size: 40px;
}
.head{
    height: 400px;
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.child1,.child2,.child3{
    height: 350px;
    width: 450px;
    border: 3px solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
    /* border-right:; */

}

.c{
    color: green;
    text-align: center;
    /* padding-bottom: 60px; */
    /* margin-top: 10%; */
    margin-top: 10%;
}
.cc{
        height: 100px;
        width: 400px;
        /* border: 1px solid black; */
        text-align: center;
        font-size: 30px;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* margin-left: 15px; */
        padding: 20px;
        line-height: 35px;
        /* word-spacing: 30px;
        letter-spacing: 20px; */

}
.footer{

          height: 400px;
          width: 90%;
          /* border: 2px solid black; */
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: green;
          color: azure;
          margin-left: 60px;
}
.ch2{
       height: 350px;
       width: 350px;
   
}
.ch2 li{
    color: white;
    line-height: 70px;
    /* height: 70px; */
    /* list-style: none; */
    /* border: 1px solid; */
    list-style: none;
}

.ch2 li a{
    list-style: none;
    /* text-decoration: none; */
    /* text-align: center; */
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.f{
    text-align: center;
    margin-top: 20px;
  }
.ch1{
    height:350px;
    width:200px;
    /* border: 2px solid black; */
    text-align: center;
   
}
.button{
    height: 50px;
    width: 90px;
    size: 20px;
    border: none;
    background-color: green;
    color: white;

}
.button:hover{
    cursor: pointer;
    transition: 1s;
    color: green;
    border: 1px solid;
    background-color: white;
}

.ch3{
    width: 350px;
    height: 350px;
    /* border: 2px solid black; */
    
    
}
.ch3 li{
    margin-top: 10pxs;
    text-align: center;
    font-size: 30px;
}
.ch4{
    width: 350px;
    height: 350px;
    /* border: 2px solid black; */
}
.ch4 li{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     font-size: 30px;
     
}
.ch5{
    width: 350px;
    height: 350px;
    /* border: 2px solid black; */
}

.ch5 li{
    /* border: 1px soli d; */
    line-height: 50px;
    list-style: none;
    text-align: center;
    font-size: 30px;
    color: white;

}
.ch5 li a{
    
    color: white;
}
.ft{
    height: 500px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}